*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    background: paleturquoise;
    font-family: 'Lobster', cursive;
    font-weight: 200;
}
.box__1{
    width: 150px;
    padding: 20px;
    border: 5px solid black;
}
.box__1{
    width: 150px;
    padding: 20px;
    border: 5px solid black;
}
.box__1:hover{
    background: paleturquoise;
    transition-duration: 0.3s;
}
table{
    margin: 20px;
}
table,td{
    border: 2px solid black;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.menu > li{
    text-decoration: none;
    padding: 20px;
    display: block;
}
.menu  li > a{
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}
.menu  li > a:visited{
    color: pink;
}
a:focus{
    border: plum;
}
.slide{
    display: none;
}
#opener {
    display: none;
}
#opener:checked ~ .slide{
    display: block;


}
table{
    width: 100%;
}
tr:nth-child(even) td:nth-child(even):hover{
    background: gold;
}
tr:first-child{
    color: rebeccapurple;
    font-weight: 700;
}
tr:last-child{
    color: red;
}
td:empty{
    background: silver;
}
.item-block{
    display: flex;
}
.item-block img{
    width: 200px;
}
.item-block p{
    width: calc(100% - 200px);
}
.item-block p:only-child{
    width: 100%;
}
.ul{
    display: flex;
    padding: 0px;
    margin: 10px;
    list-style: none;
}
.box1{ 
    background: white;
    margin: 10px;
    color:#000;
    font-size: 14px;
    line-height: 18px;
}
.ul > li{
    border: 4px solid black;
    text-align: center;
    margin: 10px;
}
.menu > li::before{
    content: "";
}
li > .box1:hover{
    background: palevioletred;
    opacity: 0.5;
}
.list_custom{
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: ite;
}
.list_custom > li::before{
    content: "\1F355";
    counter-increment: 9;
}
.list_custom::before{
    content: "";
    background: url(https://img.icons8.com/bubbles/2x/monitor.png);
    width: 100vw;
    height: 100vh;
    display: block;

}

